

body {
  padding-top: 50px;
   font-weight:bold;
}
canvas:active {
    color: black;
}

#fileupload{
  	width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;

}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
 }

#view{
	background-color:#f44336;
 	color: white;
}

#add{
	background-color:#4CAF50;
	color: white;
	text-align: center;
}


#search{
	background-color:#008CBA;
	color: white;
	text-align: center;
}

canvas{
	
	/*
	background-image: url("img3.jpg");
	
	*/
	background-size: cover;
}
.sidebar {
  display: none;
}

/*sidebar */
@media (min-width: 768px) {
  .sidebar {
	position: fixed;
	top: 51px;
	color: white;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: white;
	border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  
}


.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: white;
  background-color: #428bca;
}